:root {
    --white: #f7f7f7;
    --orange-main: #CD6326;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/header-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 780px;
    width: 100%;
}
header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 19px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h4 {
    color: var(--white);
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
}
.nav-buttons ul {
    display: flex;
    align-items: center;
}
.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 60px;
    text-align: center;
    margin-left: 62px;
}
.custom-button {
    border: 1px solid var(--orange-main);
    border-radius: 0px 5px 5px 0px;
    width: 118px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
}
.survival-section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin-top: 122px;
}
.survival-section h1 {
    color: var(--orange-main);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
}
.survival-section p {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 50px;
}
.donate-button {
    margin-top: 49px;
    width: 160px;
    height: 60px;
    background-color: var(--orange-main);
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles {
    margin-top: 120px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}
.articles span {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.slider-items {
    margin-top: 120px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-item {
    position: relative;
}
.image-description {
    position: absolute;
    bottom: 45px;
    width: 100%;
    color: var(--white);
    text-align: center;
}
.image-description h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 10px;
}
.image-description .text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
.slider-arrow {
}
.notification-form {
    margin-top: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notification-form h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
}
.input-button {
    margin-top: 60px;
    display: flex;
}
.input-button input {
    width: 525px;
    height: 60px;
    border: none;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #666;
    padding-left: 15px;
}
.input-button .send-button {
    width: 120px;
    height: 60px;
    background-color: var(--orange-main);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
}
footer {
    margin-top: 240px;
    min-height: 359px;
    width: 100%;
    background-image: url("img/footer-image.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container {
    color: var(--white);
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo h4 {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
}
.links ul {
    list-style-type: none;
    display: flex;
    max-width: 480px;
    width: 100%;
}
.links-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 60px;
    margin-right: 86px;
}
.links-list-item:last-child {
    margin-right: 0;
}
.socials {
    display: flex;
}
.social-item {
    margin-right: 27px;
}
.social-item:last-child {
    margin-right: 0;
}